<div class="container">
  <div class="content">
    <div class="row content-header"> 
      <div class="col-xs-12 col-sm-9">
        <h2>A quick intro</h2>
      </div>
      <div class="col-sm-3 social hidden-xs pull-right">
        <%= link_to 'https://www.facebook.com/sheridan.gray' do %>
          <%= image_tag 'post-facebook.png', class: "social-icon pull-right" %>
        <% end %>
        <%= link_to 'https://www.linkedin.com/in/sheridangray' do %>
          <%= image_tag 'post-linkedin.png', class: "social-icon pull-right" %>
        <% end %>
      </div>
    </div>
    <div class="row content-inner">
      <div class="col-xs-12">
        <p>
          Hi, I’m Sheridan Gray.
        </p>
        <p>
          This site is a place for me to put down my thoughts in writing. It's also where I 
          build widgets to learn new skills, automate boring and repetitive things in my life, and scratch various OCD itches I may have.
        </p>
        <p>
          As for me… well you can check out my <%= link_to 'Facebook', 'https://www.facebook.com/sheridan.gray' %> and <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/sheridangray' %> pages to get a glimpse into my personal and professional life. Broadly speaking, however, you can think of my as a Type A personality who tries to zen out with as calm and serene a lifestyle as possible.
        </p>
        <p>
          I live in San Francisco, own companies in Sacramento, and have friends and family in Seattle. Pretty much a west 
          coast guy through and through.
        </p>
      </div>
    </div>
  </div>
</div>