<div class="container">
  <div class="row visible-xs">
    <%= render 'shared/nav_header_xs' %>
  </div>

  <div class="row site-title hidden-xs">
    <div class="col-lg-12">
      <%= image_tag 'logo-big.png' %>
      <span class="title">Gray Space</span>
    </div>
  </div>

  <div class="row site-description">
    <div class="col-lg-12 text-center">
      <h1>A repository of thoughts and tinkerings</h1>
    </div>
  </div>

  <div class="row site-actions hidden-xs"> 
    <%= link_to about_path do %>
      <div class="col-sm-4 col-md-2 col-md-offset-2 text-center site-action-link">
    
      <%= image_tag 'person.png', class: "icon" %>
      <p>about</p>
      
      </div>
    <% end %>
    <%= link_to projects_path do %>
      <div class="col-sm-4 col-md-4 text-center site-action-link">
        <%= image_tag 'projects.png', class: "icon" %>
        <p>projects</p>
      </div>
    <% end %>
    <%= link_to about_path do %>
      <div class="col-sm-4 col-md-2 text-center site-action-link">
        <%= image_tag 'messenger.png', class: "icon" %>
        <p>writings</p>
      </div>
    <% end %>
  </div>
</div>




