<!DOCTYPE html>
<html lang="en">
<%= render 'shared/head' %>

<body>

<%= render 'shared/nav_header_application' %>

<%= render 'shared/errors_and_alerts' %>

<%= yield %>

<%= render 'shared/footer' %>

</body>
</html>
